// FONTS
$open-sans: "Open Sans";
$titillium-web: "Titillium Web";

// COLORS
$colorPrimary: #4f447b;
$colorSecondary: #edfaff;
$colorTertiary: #6cabc4;
$colorQuaternary: #7e6cc4;
$colorLightGrey: #fafafa;
$colorMediumGrey: #aaaaaa;
$colorDarkGrey: #444444;
$colorRed: #bf0000;
