// PRESET VARIABLES
@import "../../../sass/presets";

.header {
  margin-top: 1rem;
  margin-bottom: 1rem;
  .header__h1 {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 1.75rem;
    letter-spacing: 3px;
  }
  .header__img {
    width: 5.25rem;
  }
}

@media (min-width: 375px) {
  .header {
    .header__h1 {
      font-size: 2rem;
      letter-spacing: 4px;
    }
  }
}

@media (min-width: 768px) {
  .header {
    margin-bottom: 2rem;
    .header__h1 {
      font-size: 3rem;
      letter-spacing: 8px;
    }
    .header__img {
      width: 8.25rem;
    }
  }
}

@media (min-width: 1024px) {
  .header {
    .header__h1 {
      font-size: 5rem;
      letter-spacing: 16px;
    }
    .header__img {
      width: 10.25rem;
    }
  }
}
