// PRESET VARIABLES
@import "../../sass/presets";

// USERNAME INPUT
.usernameInput {
}
.usernameInput__input {
  display: block;
  margin: 2rem auto 0;
  padding: 0.625rem;
  border: 0.125rem solid $colorDarkGrey;
  border-radius: 0.25rem;
  width: 15rem;
  color: $colorDarkGrey;
}
.usernameInput__alert {
  height: 1.5rem;
}
.usernameInput__button {
  display: block;
  margin: 0 auto;
}

// USERNAME AND SHARE
.usernameAndShare {
}
.usernameAndShare__button {
}
