// PRESET VARIABLES
@import "../../sass/presets";

.footer {
  margin-top: 2.5rem;
  padding-bottom: 4.5rem;
}
.footer__p {
  font-size: 0.75rem;
  margin-bottom: 0.25rem;
}
@media (min-width: 768px) {
  .footer {
    margin-top: 3.5rem;
    padding-bottom: 5.5rem;
  }
}
