<nav class="navbar navbar-expand navbar-dark bg-dark fixed-bottom">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="nav-item"><a class="nav-link" skipLocationChange routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">List</a></li>
      <li class="nav-item"><a class="nav-link" skipLocationChange routerLink="map" routerLinkActive="active">Map</a></li>
      <li class="nav-item"><a class="nav-link" skipLocationChange routerLink="user" routerLinkActive="active">User</a></li>
      <li class="nav-item"><a class="nav-link" skipLocationChange routerLink="sharing" routerLinkActive="active">Sharing</a></li>
    </ul>
  </div>
</nav>
