// PRESET VARIABLES
@import '../../sass/presets';

.title{
  margin-top: 1.25rem;
  margin-bottom: 1.5rem;
}
.title__h1{
  font-family: 'Chewy', Arial, sans-serif;
  font-size: 3rem;
}

@media(min-width:768px){
  .title{
    margin-bottom: 2rem;
  }
  .title__h1{
    font-size: 5rem;
  }
}
