// PRESET VARIABLES
@import '../../sass/presets';

// LIST COLUMNS
.list{
  column-count: 1;
}
@media(min-width:768px){
  .list{
    column-count: 2;
  }
}
@media(min-width:1024px){
  .list{
    column-count: 3;
  }
}

// CHECKBOXES
.checkbox{
  width: 100%;
}
.checkbox__input{
  display: none;
}
.checkbox__label{
  width: 100%;
  padding: .75rem;
  margin-bottom: .75rem;
  border: .125rem solid $colorAqua;
  border-radius: .25rem;
  background-color: $colorBlue;
  text-align: center;
  color: white;
}
.checkbox__input:checked ~ .checkbox__label{
  border-color: $colorBlue;
  background-color: white;
  color: $colorBlue;
}
@media(min-width:768px){
  .checkbox__label{
    margin-bottom: 1rem;
  }
}
// non-touchscreens
@media(hover:hover){
  .checkbox__label{
    &:hover{
      cursor: pointer;
      background-color: white;
      color: $colorBlue;
    }
  }
}
