<app-header></app-header>
<div role="main" class="main container">
  <div class="row">
    <div class="col-12 text-center">
      <select
        class="form-select mb-4"
        aria-label="View by continent"
        (change)="selectChange($event)"
      >
        <option value="All" selected>All</option>
        <option value="Africa">Africa</option>
        <option value="Antarctica">Antarctica</option>
        <option value="Asia">Asia</option>
        <option value="Europe">Europe</option>
        <option value="North America">North America</option>
        <option value="Oceania">Oceania</option>
        <option value="South America">South America</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="list">
        <div *ngFor="let country of countries" class="checkbox">
          <input
            id="{{ country.name }}"
            class="checkbox__input"
            name="{{ country.name }}"
            type="checkbox"
            value="{{ country.name }}"
            (change)="checkboxChange(country.name, $event.target.checked)"
            [checked]="country.checked"
          />
          <label class="checkbox__label" for="{{ country.name }}">{{
            country.name
          }}</label>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
