<nav class="navbar navbar-expand navbar--grey fixed-bottom">
  <div class="container">
    <ul class="nav navbar-nav nav-fill w-100">
      <li class="nav-item">
        <a
          class="nav-link"
          skipLocationChange
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <i class="fas fa-toggle-on"></i><br />Countries
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          skipLocationChange
          routerLink="map"
          routerLinkActive="active"
        >
          <i class="far fa-map"></i><br />My Map
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          skipLocationChange
          routerLink="user"
          routerLinkActive="active"
        >
          <i class="fas fa-list"></i><br />My List
        </a>
      </li>
    </ul>
  </div>
</nav>
