@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Titillium+Web&display=swap");

// PRESET VARIABLES
@import "sass/presets";

html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: "Titillium Web", Arial, sans-serif;
  color: $colorDarkGrey;
}
a {
  color: $colorDarkGrey;
  &:hover {
    color: $colorPrimary;
  }
}
.text--primary {
  color: $colorPrimary;
}
.text--secondary {
  color: $colorSecondary;
}
.text--tertiary {
  color: $colorTertiary;
}
.text--quaternary {
  color: colorQuaternary;
}
.text--red {
  color: $colorRed;
}
