@import url('https://fonts.googleapis.com/css?family=Chewy|Titillium+Web');

// PRESET VARIABLES
@import 'sass/presets';

html,
body{
  height: 100%;
  width: 100%;
}
body{
  font-family: 'Titillium Web', Arial, sans-serif;
  color: $colorDarkGrey;
}
a{
  color: $colorDarkGrey;
  &:hover{
    color: $colorBlue;
  }
}
.text--blue{
  color: $colorBlue;
}
.text-aqua{
  color: $colorAqua;
}
